.post {
  .jumbotron {
    height: 260px;
  }

  @media (min-width: @screen-sm-min) {
    .jumbotron {
      height: 400px;  
    }
  }

  @media (min-width: @screen-md-min) {
    .jumbotron {
      height: 600px;
    }
  }

  .post-details {
    font-size: @font-size-small;
  }

  .thumbnail {
    > .caption {
      height: 170px;
      position: relative;

      > h4 {
        height: @font-size-h4 * @headings-line-height * 2;
        overflow: hidden;
      }

      > h4:after {
        content: '';
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 70%;
        height: @font-size-h4 * @headings-line-height;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
      }

      > .avatar-frame {
        position: absolute;
        bottom: 9px;
      }
    }

    > .thumbnail-image {
      background-position: center center;
      background-size: cover;
      height: 100px;
    }
  }
}

.related-items {
  background-color: #fafafa;
  padding-top: 40px;
}

@media (min-width: @screen-sm-min) {
  .post-content,
  .related-posts {
    margin: 0 auto;
  }

  .post-content {
    max-width: 700px;
  }

  .related-posts {
    max-width: 1000px;
  }
}
