<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description"
          content="{% block meta_description %}{% endblock %}">
    <meta name="csrf-token" content="{{ csrf_token() }}">

    <title>{% block title %}{% endblock %}</title>

    <script
      src="https://code.jquery.com/jquery-1.12.2.min.js"
      integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk="
      crossorigin="anonymous"></script>
  </head>
  <body>
    <div id="root" class="root"></div>
    {% block body %}{% endblock %}
    <script
      src="http://localhost:8080/static/scripts/bundle.js">
    </script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhf-Omk8aZqFOvSrw0nSW0HAUe0DXY-6k&libraries=places">
    </script>
  </body>
</html>
