<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description"
          content="{% block meta_description %}{% endblock %}">
    <meta name="csrf-token" content="{{ csrf_token() }}">
  <link href="/static/scripts/../stylesheets/bundle-css.css?d3aa5d042815a4a46aae" rel="stylesheet"><link href="/static/scripts/../stylesheets/bundle-scss.css?d3aa5d042815a4a46aae" rel="stylesheet"><link href="/static/scripts/../stylesheets/bundle-less.css?d3aa5d042815a4a46aae" rel="stylesheet"></head>
  <body>
    {% block body %}{% endblock %}
    <div id="root" class="root"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDr6MNUWILJ14oOkpOH6LMlEz-cMW3aJ60&libraries=places">
    </script>
  <script type="text/javascript" src="/static/scripts/bootstrap.58ca554dd453b285e84f.bundle.js?d3aa5d042815a4a46aae"></script><script type="text/javascript" src="/static/scripts/vendor.29e9f33b437b59283ad5.bundle.js?d3aa5d042815a4a46aae"></script><script type="text/javascript" src="/static/scripts/bundle.d7c57e6ff559e3ab166b.bundle.js?d3aa5d042815a4a46aae"></script></body>
</html>
