<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description"
          content="{% block meta_description %}{% endblock %}">
    <meta name="csrf-token" content="{{ csrf_token() }}">
  <link href="/static/scripts/../stylesheets/bundle-css.css?b2ede6a6bacbaba99411" rel="stylesheet"><link href="/static/scripts/../stylesheets/bundle-scss.css?b2ede6a6bacbaba99411" rel="stylesheet"><link href="/static/scripts/../stylesheets/bundle-less.css?b2ede6a6bacbaba99411" rel="stylesheet"></head>
  <body>
    {% block body %}{% endblock %}
    <div id="root" class="root"></div>
    <script
      src="https://code.jquery.com/jquery-1.12.2.min.js"
      integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk="
      crossorigin="anonymous">
    </script>
  <script type="text/javascript" src="/static/scripts/bootstrap.39b7e0ddedeadec61594.bundle.js?b2ede6a6bacbaba99411"></script><script type="text/javascript" src="/static/scripts/vendor.ce322877a799646c3e7c.bundle.js?b2ede6a6bacbaba99411"></script><script type="text/javascript" src="/static/scripts/bundle.d93c0f4d534f56121c31.bundle.js?b2ede6a6bacbaba99411"></script></body>
</html>
