<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description"
          content="{% block meta_description %}{% endblock %}">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <meta name="google-site-verification" content="wzPowqz7EwTFHtH0dqQxfHQLzGbJQYWGKGQZaBPKpKE" />
  <link href="/static/scripts/../stylesheets/bundle-scss.css?e6b3d758618a64588f46" rel="stylesheet"><link href="/static/scripts/../stylesheets/bundle-less.css?e6b3d758618a64588f46" rel="stylesheet"></head>
  <body>
    {% block body %}{% endblock %}
    <div id="root" class="root"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDr6MNUWILJ14oOkpOH6LMlEz-cMW3aJ60&libraries=places">
    </script>
  <script type="text/javascript" src="/static/scripts/bootstrap.195436439ecc40b856bf.bundle.js?e6b3d758618a64588f46"></script><script type="text/javascript" src="/static/scripts/vendor.64238a4f9549dde72686.bundle.js?e6b3d758618a64588f46"></script><script type="text/javascript" src="/static/scripts/bundle.15e115c5f89024111a2c.bundle.js?e6b3d758618a64588f46"></script></body>
</html>
