{% extends 'layouts/app.html' %}

{% block title %}Concept Law Firm{% endblock %}
{% block meta_description %}Compete against yourself and others by guessing the
outcome of a dice roll. Win points and dominate the leaderboard.{% endblock %}

{% block hero %}
  <div class="hero">
    <div class="menu-toggle">Our Practice Areas<i class="fa fa-bars"></i></div>
    <button type="button" class="btn btn-primary">Make an appointment online now</button>
  </div>
{% endblock %}

{% block body %}
  <div class="container">
    <div class="lg-margin-bottom">
      <h1 class="text-center">Who We Are</h1>
      <p>We are a team of highly experienced professionals who are highly sought after in key industries with a proven track record in delivering smart and cost-efficient solutions to legal problems that make our clients happy.</p>
    </div>

    <h1 class="text-center">Our Core Values?</h1>
      <p>We are a team of highly experienced professionals who are highly sought after in key industries with a proven track record in delivering smart and cost-efficient solutions to legal problems that make our clients happy.</p>
    </div>
  </div>
{% endblock %}
